# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Disable catch all for now.
# * @huichun66 @doittomorrow @eleenyang @wn @remo5000  @jeffkwoh

# CPP Readability owners
*.cpp @wn @remo5000 @jeffkwoh #Psuedo repo owner permissions for jeffkwoh.
*.h @wn @remo5000 @jeffkwoh #Psuedo repo owner permissions for jeffkwoh.

# SPA backend
Lexer.* @wn @remo5000
Parser.* @wn @remo5000
TNode.* @wn @remo5000

# QP
TestLexerQPL.cpp @huichun66

# Owners for any files in a docs directory. Includes nested
# files.
docs/  @jeffkwoh @huichun66
Tests24/ @eleenyang

