name: Windows Unit Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
# If you are doing triggering your workflow from pushes or merging more than twice a day on average,
# please execute your workflow on a schedule instead.
# Comment the above 7 lines, and uncomment the following 3 lines
# on:
#   schedule:
#     - cron: "0 09,23 * * *"

env:
    BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 3
    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v2
      - name: Build Project
        shell: bash
        run: |
          cd Team24/Code24
          mkdir build
          cd build
          cmake -A Win32 ..
          cmake --build . --target unit_testing --config Release
          cmake --build . --target integration_testing --config Release
          cmake --build . --target autotester --config Release
          ls -R
          cd ../..
      
      - name: Test Project
        shell: bash
        run: |
          ls -R
          ./Team24/Code24/build/src/unit_testing/Release/unit_testing.exe

